In [5]:
import pandas as pd
import numpy as np

In [6]:
station = pd.read_csv("station.csv")

In [7]:
trip = pd.read_csv("trip.csv")

In [8]:
sampledTrips = trip.sample(frac=1)

In [9]:
dates = pd.to_datetime(sampledTrips["start_date"]).dt.date.value_counts()

In [10]:
sorted_dates = pd.DataFrame(dates).sort_index()
sorted_dates.reset_index(drop=True, inplace=True)
sorted_dates["start_date"]

0       748
1       714
2       640
3       706
4       661
5       597
6       606
7       677
8       814
9       796
10      704
11      769
12      892
13      880
14      942
15      981
16      702
17      624
18      914
19     1073
20     1110
21     1044
22     1102
23      388
24      584
25     1050
26     1075
27     1264
28     1082
29     1101
       ...
703     320
704    1283
705    1360
706    1341
707    1299
708    1197
709     432
710     361
711    1284
712    1397
713    1400
714    1401
715    1182
716     451
717     393
718    1418
719    1407
720    1353
721    1353
722    1215
723     421
724     311
725    1309
726    1421
727    1465
728    1443
729    1220
730     342
731     331
732    1369
Name: start_date, Length: 733, dtype: int64

In [11]:
weather = pd.read_csv("weather.csv")

In [12]:
weather.head()

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,8/29/2013,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107
1,8/30/2013,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107
2,8/31/2013,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107
3,9/1/2013,74.0,66.0,58.0,60.0,56.0,53.0,87.0,68.0,49.0,...,10.0,10.0,25.0,13.0,29.0,0,4.0,NaN,284.0,94107
4,9/2/2013,75.0,69.0,62.0,61.0,60.0,58.0,93.0,77.0,61.0,...,10.0,6.0,23.0,12.0,30.0,0,6.0,NaN,277.0,94107

In [ ]:
status = pd.read_csv("status.csv")

In [ ]:
status

In [ ]:
sorted_dates["start_date"]
weather["total_riders"] = sorted_dates["start_date"]
weather[weather.zip_code == 95113]

In [ ]:
station

In [ ]:
trip