In [58]:
import pandas as pd
import numpy as np

In [80]:
df = pd.read_csv("needed_features.csv")

In [81]:
df["start_hour"] = df["start_hour"].astype(str)

In [82]:
df['start_hour'] = df['start_hour'].str.get_dummies().values.tolist()

In [83]:
df.head()

,Unnamed: 0,date,start_station_name,start_station_id,city,zip_code,start_hour,mean_temperature_f,mean_humidity,mean_visibility_miles,mean_wind_speed_mph,precipitation_inches,weekday,isHoliday,isRushHour
0,0,2013-08-29,Mountain View City Hall,27,Mountain View,94041,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",70.0,72.0,10.0,5.0,0.0,Thursday,0,1
1,1,2013-08-29,Mountain View City Hall,27,Mountain View,94041,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",70.0,72.0,10.0,5.0,0.0,Thursday,0,1
2,2,2013-08-29,Mountain View City Hall,27,Mountain View,94041,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",70.0,72.0,10.0,5.0,0.0,Thursday,0,1
3,3,2013-08-29,Mountain View City Hall,27,Mountain View,94041,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",70.0,72.0,10.0,5.0,0.0,Thursday,0,1
4,4,2013-08-29,Mountain View City Hall,27,Mountain View,94041,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",70.0,72.0,10.0,5.0,0.0,Thursday,0,0